<div class="container py-5">
  <div class="d-flex justify-content-between">
    <h2 class="section-title ">Your Businesses</h2>
    <div class="form-inline input-field">
      <%= link_to( new_business_path, class:"btn btn-add text-white"  ) do %>
        <i class="fas fa-plus-circle"></i> ADD
      <% end %>
    </div>
  </div>
    <% @businesses.each do |business| %>
      <div class="row mt-5">
        <div class="col-4">
          <div class="card shadow round-1" style="width: 18rem;">
              <img src="https://errekainmobiliaria.com/img/not-available.jpg" class="card-img-top round-top-1" alt="">
            <div class="card-body">
              <h5 class="card-title text-center"><%=business.name%></h5>
            </div>
          </div>
        </div>

        <div class="col-8 m-auto">
          <div class="my-3 p-3 bg-body round-1 shadow effect-hover-up">
            <div class="d-flex justify-content-between">
              <div class="my-auto ml-4">
                  <strong class="d-block fs-3 text-add text-uppercase"><%=business.name%></strong>
                  <p class="fs-5 mb-0 fst-italic"><%= business.email %>
                  </p>
              </div>
              <div class="data">
                <strong class="d-block text-gray-dark"></strong>
                  <div class="form-inline input-field">
                   <%= link_to( business_path(business), class:"btn btn-white waves-effect waves-light p-2"  ) do %>
                      <i class="far fa-eye"></i>
                    <% end %>
                  </div>
                  <div class="form-inline input-field">
                  <%= link_to( edit_business_path(business), class:"btn btn-dark text-white p-2"  ) do %>
                     <i class="far fa-edit"></i>
                    <% end %>
                  </div>
                  <div class="form-inline input-field">
                   <%= link_to(business, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger text-white p-2") do %>
                      <i class="far fa-times-circle text-white"></i>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    <%end%>  
</div>

