<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @business.rut %>
</p>

<div class="row">
  <% @branchoffices.each do |branch|%>
    <div class="col">
      <div><%= branch.code_branchoffice%></div>
      <div><%= branch.city%></div>
      <div><%= branch.address%></div>
      <%= link_to 'SHOW', business_branchoffice_path(branch) %> |
    </div>
  <%end%>
</div>

<%= link_to 'SHOW', business_branchoffice_path(@business) %> |
<%= link_to 'Back', :back %>
