      <!--=== home ============================-->
    <section id="scroll-top" class="home intro-before">
        <!--=== navigation ===-->
        <div class="navigation">
            <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top navbar-white-2">
                <div class="container">
                    <a class="navbar-brand scroll-to" href="#scroll-top"><%=image_tag 'others/header-logo', class:"navbar-logo", alt:"Nav Logo"%>Appx.</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav3" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="nav3">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                            <li class="nav-item"><a class="nav-link scroll-to" href="#">HOME</a></li>
                            <li class="nav-item"><a class="nav-link scroll-to" href="#feature">Features</a></li>
                            <li class="nav-item"><a class="nav-link scroll-to" href="#clients">Clients</a></li>
                            <li class="nav-item"><a class="nav-link scroll-to" href="#pricing">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link scroll-to" href="#contact">Contact</a></li>
                        </ul>
                        <form class="form-inline">
                            <button class="btn btn-white waves-effect waves-light"><span>Sign up</span></button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <!--=== intro ===-->
        <div class="intro">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="intro-wrap">
                            <div class="intro-title">We develop this applications to help people's business </div>
                            <div class="intro-para mt-4 mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras pulvinar mattis.
                            </div>
                            <button class="btn btn-success waves-effect waves-light">Join with us</button>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 text-right">
                        <div class="intro-mobile-wrap">
                           <%=image_tag 'cards/iphone-x-white.png', class:"img-fluid", alt:"App screen"%> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=== app setup ===-->
        <div class="service-4 pt-4 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="service-card text-left">
                            <div class="service-title dash">Download</div>
                            <div class="service-para">
                                Lorem ipsum dolor sit amet, plaerat Albucius luptatum phaedrum at vis verte.
                            </div>
                            <div class="service-svg-icon">  <%=image_tag 'others/icon-4.svg', alt:"icon"%></div>
                            <div class="service-icon"><i class="ion ion-ios-arrow-thin-right"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="service-card text-left">
                            <div class="service-title dash">Install</div>
                            <div class="service-para">
                                Lorem ipsum dolor sit amet, plaerat Albucius luptatum phaedrum at vis verte.
                            </div>
                            <div class="service-svg-icon"></div>
                            <div class="service-icon"><i class="ion ion-ios-arrow-thin-right"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="service-card text-left">
                            <div class="service-title dash">Setup</div>
                            <div class="service-para">
                                Lorem ipsum dolor sit amet, plaerat Albucius luptatum phaedrum at vis verte.
                            </div>
                            <div class="service-svg-icon"><%=image_tag 'others/icon-1.svg', alt:"icon"%></div>
                            <div class="service-icon"><i class="ion ion-ios-arrow-thin-right"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="service-card text-left">
                            <div class="service-title dash">Enjoy</div>
                            <div class="service-para">
                                Lorem ipsum dolor sit amet, plaerat Albucius luptatum phaedrum at vis verte.
                            </div>
                            <div class="service-svg-icon"><%=image_tag 'others/icon-3.svg', alt:"icon"%></div>
                            <div class="service-icon"><i class="ion ion-ios-arrow-thin-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--=== Extra features ===-->
    <section class="service-7" id="feature">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="section-wrap-2 mb-5 mx-auto text-md-left text-sm-center">
                        <div class="section-title mb-4">Invest for your future</div>
                        <div class="section-tag mb-4">Lorem ipsum dolor sit amet, placerat verterem id vix, ne omnis fabulas vim. Albucius vitan luptatum phaedrum at vis, cum impetus mandamus vituperata.</div>
                        <a href="#" class="success-color btn-link">Explore More <i class="ion ion-arrow-right-c link-arrow"></i></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <ul class="list-unstyled service-extra mb-0  mx-auto">
                        <li class="media mb-4">
                            <div class="service-icon-wrap mr-4"><i class="ion ion-ios-world-outline primary-color"></i></div>
                            <div class="media-body">
                                <div class="service-title">Stick with it</div>
                                <div class="service-para">Lorem ipsum dolor sit amet, placerat verterem id vix, ne omnis fabulas vim. Albucius luptatum phaedrum at vis, cum impetus mandamus vituperata.</div>
                            </div>
                        </li>
                        <li class="media mb-4">
                            <div class="service-icon-wrap mr-4"><i class="ion ion-ios-cog-outline warning-color"></i></div>
                            <div class="media-body">
                                <div class="service-title">Save for later</div>
                                <div class="service-para">Lorem ipsum dolor sit amet, placerat verterem id vix, ne omnis fabulas vim. Albucius luptatum phaedrum at vis, cum impetus mandamus vituperata.</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="service-icon-wrap mr-4"><i class="ion ion-ios-color-filter-outline success-color"></i></div>
                            <div class="media-body">
                                <div class="service-title">Invest automatically</div>
                                <div class="service-para">Lorem ipsum dolor sit amet, placerat verterem id vix, ne omnis fabulas vim. Albucius luptatum phaedrum at vis, cum impetus mandamus vituperata.</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--=== Why choose us ===-->
    <section class="service-5 gray-bg" id="choose-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-wrap mb-5 pb-5 mx-auto text-center">
                        <div class="section-title mb-4">Why choose us</div>
                        <div class="section-tag">Lorem ipsum dolor sit amet, placerat verterem luptatum phaedrum vis, impetus mandamus id vix fabulas vim.</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-card text-center">
                        <div class="service-icon-wrap"><i class="ion ion-ios-color-filter-outline warning-color"></i></div>
                        <div class="service-title">Development</div>
                        <div class="service-para">
                            Lorem ipsum dolor sit amet, placerat verterem id vix, ne omnis fabulas vim. Albucius luptatum phaedrum vis, cum impetus mandamus.
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="service-card text-center">
                        <div class="service-icon-wrap"><i class="ion ion-ios-cog-outline success-color"></i></div>
                        <div class="service-title">Customization</div>
                        <div class="service-para">
                            Lorem ipsum dolor sit amet, placerat verterem id vix, ne omnis fabulas vim. Albucius luptatum phaedrum vis, cum impetus mandamus.
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="service-card text-center">
                        <div class="service-icon-wrap"><i class="ion ion-ios-world-outline primary-color"></i></div>
                        <div class="service-title">Application</div>
                        <div class="service-para">
                            Lorem ipsum dolor sit amet, placerat verterem id vix, ne omnis fabulas vim. Albucius luptatum phaedrum vis, cum impetus mandamus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--=== clients ===-->
    <section class="clients-1 clients" id="clients">
        <div class="container">
            <div class="row mb-0">
                <div class="col-xl-12 d-flex align-items-center">
                    <div class="section-wrap mb-5 pb-5 mx-auto text-center">
                        <div class="section-title mb-4">Trusted Clients</div>
                        <div class="section-tag mb-4">Lorem ipsum dolor sit amet, placerat verterem luptatum phaedrum vis, impetus mandamus id vix fabulas vim.</div>
                        <div class="button-wrap">
                            <a href="#" class="success-color btn-link">Show More <i class="ion ion-arrow-right-c link-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row client-logos justify-content-center">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div><div class="w-100"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </section>

    <!--=== What People say ===========================-->
    <section class="review pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-wrap-3 mb-5">
                        <div class="section-title mb-4">What people say about us</div>
                        <div class="section-tag mb-4">Lorem ipsum dolor sit amet, placerat verterem ido vimu, ne omnis fabulas vim. Albucius vitan luptatum phaedrum at vis impetus.</div>
                        <a href="#" class="success-color btn-link">Show Details <i class="ion ion-arrow-right-c link-arrow"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 px-0">
                    <div class="owl-carousel loop">
                        <div>
                            <div class="review-card">
                                <div class="review-wrap">
                                    <div class="review-title">Excellent Features</div>
                                    <div class="review-para">
                                        Lorem ipsum dolor sit amet, placerat id verterem id vix, ne omnis fabulas vim, impetus mandamus vituperata.
                                    </div>
                                    <div class="review-info d-inline-flex">
                                        <div class="review-author"><%# img %>  </div>
                                        <div class="review-author-wrap">
                                            <div class="review-author-name">Mark Anthony</div>
                                            <div class="review-author-tag">Co-Founder</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="review-card">
                                <div class="review-wrap">
                                    <div class="review-title">Awesome work</div>
                                    <div class="review-para">
                                        Lorem ipsum dolor sit amet, placerat id verterem id vix, ne omnis fabulas vim, impetus mandamus vituperata.
                                    </div>
                                    <div class="review-info d-inline-flex">
                                        <div class="review-author"><%# img %> </div>
                                        <div class="review-author-wrap">
                                            <div class="review-author-name">Mark Anthony</div>
                                            <div class="review-author-tag">Co-Founder</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="review-card">
                                <div class="review-wrap">
                                    <div class="review-title">Great Ui Design</div>
                                    <div class="review-para">
                                        Lorem ipsum dolor sit amet, placerat id verterem id vix, ne omnis fabulas vim, impetus mandamus vituperata.
                                    </div>
                                    <div class="review-info d-inline-flex">
                                        <div class="review-author"><%# img %>  </div>
                                        <div class="review-author-wrap">
                                            <div class="review-author-name">Mark Anthony</div>
                                            <div class="review-author-tag">Co-Founder</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=== pricing plans ===-->
    <section id="pricing" class="pricing-plan-1">
        <div class="container">
            <div class="row mb-0">
                <div class="col-lg-12">
                    <div class="section-wrap mb-5 pb-5 mx-auto text-center">
                        <div class="section-title mb-4">Pricing Plans</div>
                        <div class="section-tag">Lorem ipsum dolor sit amet, placerat verterem luptatum phaedrum vis, impetus mandamus id vix fabulas vim.</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-item-wrap info-bg-col">
                        <div class="single-price-plan">
                            <div class="plan-tag info-bg">Freebie</div>
                            <div class="title">
                                <div class="plan-title">Basic</div>
                                <div class="plan-tip">Starter Package</div>
                            </div>
                            <div class="plan-price">
                                <div class="price-tag">$0</div>
                            </div>
                            <div class="plan-description">
                                <div>Duration: 7days</div>
                                <div>Free Registration</div>
                                <div>10 Features</div>
                                <div>No Hidden Fees</div>
                                <div>100+ Video Tuts</div>
                                <div>No Tools</div>
                            </div>
                            <div class="plan-button">
                                <a class="btn btn-info" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-item-wrap success-bg-col">
                        <div class="single-price-plan">
                            <div class="plan-tag success-bg">Popular</div>
                            <div class="title">
                                <div class="plan-title">Professional</div>
                                <div class="plan-tip">Standard Package</div>
                            </div>
                            <div class="plan-price">
                                <div class="price-tag">$149</div>
                            </div>
                            <div class="plan-description">
                                <div>Duration: 7days</div>
                                <div>Free Registration</div>
                                <div>10 Features</div>
                                <div>No Hidden Fees</div>
                                <div>100+ Video Tuts</div>
                                <div>No Tools</div>
                            </div>
                            <div class="plan-button">
                                <a class="btn btn-success" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-item-wrap danger-bg-col">
                        <div class="single-price-plan">
                            <div class="plan-tag danger-bg">Premium</div>
                            <div class="title">
                                <div class="plan-title">Business</div>
                                <div class="plan-tip">Unlimited Package</div>
                            </div>
                            <div class="plan-price">
                                <div class="price-tag">$249</div>
                            </div>
                            <div class="plan-description">
                                <div>Duration: 7days</div>
                                <div>Free Registration</div>
                                <div>10 Features</div>
                                <div>No Hidden Fees</div>
                                <div>100+ Video Tuts</div>
                                <div>No Tools</div>
                            </div>
                            <div class="plan-button">
                                <a class="btn btn-danger" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=== footer bottom ======================-->
    <footer class="footer-bottom" >
        <div class="container">
            <div class="row no-gutters mb-0">
                <div class="col-lg-10 mx-auto form-wrap" id="contact">
                    <form class="row" >
                        <div class="col-lg-12">
                            <div class="section-wrap pt-3 pb-5 mb-5 mx-auto text-center">
                                <div class="section-title mb-4">Contact with us</div>
                                <div class="section-tag">Lorem ipsum dolor sit amet, placerat verterem luptatum phaedrum vis, impetus mandamus id vix fabulas vim.</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="input-field">
                                <input id="1" type="text" class="validate">
                                <label for="1" class="">Name</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="input-field">
                                <input id="2" type="email" class="validate">
                                <label for="2" class="">Email</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-field">
                                <input id="3" type="text" class="validate">
                                <label for="3" class="">Subject</label>
                            </div>
                        </div>
                     
                        <div class="col-sm-12">
                            <div class="input-field">
                                <textarea id="5" type="text" class="materialize-textarea validate" rows="4" style="min-height: 100px;"></textarea>
                                <label for="5">Message</label>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="input-field">
                                <a href="#" class="btn btn-success waves-effect waves-light">Send Message</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 text-center">
                    <div class="footer-logo-wrap">
                        <div class="footer-logo">
                           <%=image_tag 'others/header-logo-white.svg', alt:"footer-logo"%>
                            <span>Appx.</span>
                        </div>
                        <div class="footer-para">&copy; 2021 | Appointment App.</div>
                    </div>
                </div>
                <div class="col-xl-9 ">
                    <div class="row no-gutters">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                            <div class="footer-link-wrap">
                                <div class="footer-title">Resource</div>
                                <ul class="footer-link list-unstyled">
                                    <li><a href="#!">Home</a></li>
                                    <li><a href="#!">Feature</a></li>
                                    <li><a href="#!">Pricing</a></li>
                                    <li><a href="#!">About us</a></li>
                                    <li><a href="#!">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                       
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                            <div class="footer-link-wrap">
                                <div class="footer-title">Contact</div>
                                <ul class="footer-link list-unstyled">
                                    <li><a href="#!">+(126) 456 789</a></li>
                                    <li><a href="#!">+44-208-1234567</a></li>
                                    <li><a href="#!">support@yahho.com</a></li>
                                    <li><a href="#!">Adam street 47, queens</a></li>
                                    <li><a href="#!">California, NY</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
