      <!--=== home ============================-->
    <section id="scroll-top" class="home intro-before">
        <!--=== navigation ===-->
        <div class="navigation">
            <%= render 'shared/navbar' %>
        </div>

        <!--=== intro ===-->
        <div class="intro">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="intro-wrap">
                            <div class="intro-title">APPNOW developed to manage appointments </div>
                            <div class="intro-para mt-4 mb-5">
                               Application developed to help people manage their reservations quickly and efficiently.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 text-right">
                        <div class="intro-mobile-wrap">
                           <%=image_tag 'cards/iphone-x-white.png', class:"img-fluid", alt:"App screen"%> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=== app setup ===-->
        <div class="service-4 pt-4 mt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="service-card text-left">
                            <div class="service-title dash">Sign Up</div>
                            <div class="service-para">
                               Register with facebook or through our platform.
                            </div>
                                   <div class="service-svg-icon"><%=image_tag 'others/icon-1.svg', alt:"icon"%></div>
                            <div class="service-icon"><i class="ion ion-ios-arrow-thin-right"></i></div>
                        </div>
                    </div>
                
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="service-card text-left">
                            <div class="service-title dash">Find the service</div>
                            <div class="service-para">
                               Visit and select the branch of the company you want.
                            </div>
                     <div class="service-svg-icon">  <%=image_tag 'others/icon-4.svg', alt:"icon"%></div>
                            <div class="service-icon"><i class="ion ion-ios-arrow-thin-right"></i></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="service-card text-left">
                            <div class="service-title dash">Reservation</div>
                            <div class="service-para">
                                Check the availability of time and reservation.
                            </div>
                            <div class="service-svg-icon"><%=image_tag 'others/icon-3.svg', alt:"icon"%></div>
                            <div class="service-icon"><i class="ion ion-ios-arrow-thin-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!--=== clients ===-->
    <section class="clients-1 clients" id="clients">
        <div class="container">
            <div class="row mb-0">
                <div class="col-xl-12 d-flex align-items-center">
                    <div class="section-wrap mb-5 pb-5 mx-auto text-center">
                        <div class="section-title mb-4">Trusted Clients</div>
                        <div class="section-tag mb-4">All our clients with excellent assistance</div>
                        
                    </div>
                </div>
            </div>
            <div class="row client-logos justify-content-center">
                
                 <% @businesses.each do |business| %>

                <div class="col-sm-3 section-tag"><%= business.name %></div>
                 <% end %>
            </div>
        </div>
    </section>


    <!--=== pricing plans ===-->
    <section id="pricing" class="pricing-plan-1">
        <div class="container">
            <div class="row mb-0">
                <div class="col-lg-12">
                    <div class="section-wrap mb-5 pb-5 mx-auto text-center">
                        <div class="section-title mb-4">Pricing Suscriptions</div>
                        <div class="section-tag">Get one of our subscriptions for your company.</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-item-wrap info-bg-col">
                        <div class="single-price-plan">
                            <div class="plan-tag info-bg">Freebie</div>
                            <div class="title">
                                <div class="plan-title">Basic</div>
                                <div class="plan-tip">Starter Package</div>
                            </div>
                            <div class="plan-price">
                                <div class="price-tag">$0</div>
                            </div>
                            <div class="plan-description">
                                <div>Duration: 1Month</div>
                                <div>Free Registration</div>
                                <div>10 Features</div>
                            </div>
                            <div class="plan-button">
                                <a class="btn btn-info" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-item-wrap success-bg-col">
                        <div class="single-price-plan">
                            <div class="plan-tag success-bg">Popular</div>
                            <div class="title">
                                <div class="plan-title">Professional</div>
                                <div class="plan-tip">Standard Package</div>
                            </div>
                            <div class="plan-price">
                                <div class="price-tag">$149</div>
                            </div>
                            <div class="plan-description">
                                <div>Duration: 3Months</div>
                                <div>Free Registration</div>
                                <div>10 Features</div>
                   
                            </div>
                            <div class="plan-button">
                                <a class="btn btn-success" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-item-wrap danger-bg-col">
                        <div class="single-price-plan">
                            <div class="plan-tag danger-bg">Premium</div>
                            <div class="title">
                                <div class="plan-title">Business</div>
                                <div class="plan-tip">Unlimited Package</div>
                            </div>
                            <div class="plan-price">
                                <div class="price-tag">$249</div>
                            </div>
                            <div class="plan-description">
                                <div>Duration: 1year</div>
                                <div>Free Registration</div>
                                <div>10 Features</div>
                            </div>
                            <div class="plan-button">
                                <a class="btn btn-danger" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=== footer bottom ======================-->
    <footer class="footer-bottom" >
        <div class="container">
            <div class="row no-gutters mb-0">
                <div class="col-lg-10 mx-auto form-wrap" id="contact">
                    <form class="row" >
                        <div class="col-lg-12">
                            <div class="section-wrap pt-3 pb-5 mb-5 mx-auto text-center">
                                <div class="section-title mb-4">Contact with us</div>
                                <div class="section-tag">Fill out this form and tell us how we can help you.</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                        <label for="form-name">Name</label>
                            <div class="input-field">
                                <input id="form-name" type="text" class="validate" placeholder="Name">        
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <label for="form-email">Email</label>
                            <div class="input-field">
                                <input id="form-email" type="email" class="validate" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="form-subject">Subject</label>
                            <div class="input-field">
                                <input id="form-subject" type="text" class="validate" placeholder="Subject">
                            </div>
                        </div>
                     
                        <div class="col-sm-12">
                        <label for="form-message">Message</label>
                            <div class="input-field">
                                <textarea id="form-message" type="text" class="materialize-textarea validate" rows="4" style="min-height: 100px;"></textarea>
                                
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="input-field">
                                <a href="#" class="btn btn-success waves-effect waves-light">Send Message</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 text-center">
                    <div class="footer-logo-wrap">
                        <div class="footer-logo">
                            <%=image_tag 'others/appnow', width:"130px", alt:"Nav Logo"%>
                        </div>
                        <div class="footer-para">&copy; 2021 | Appointment App.</div>
                    </div>
                </div>
                <div class="col-xl-9 ">
                    <div class="row no-gutters">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                            <div class="footer-link-wrap">
                                <div class="footer-title">Resource</div>
                                <ul class="footer-link list-unstyled">
                                    <li><a href="#!">Home</a></li>
                                    <li><a href="#clients">Clients</a></li>
                                    <li><a href="#pricing">Pricing</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                       
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                            <div class="footer-link-wrap">
                                <div class="footer-title">Contact</div>
                                <ul class="footer-link list-unstyled">
                                    <li><a href="#!">+(569) 456 789</a></li>
                                    <li><a href="#!">support@appnow.cl</a></li>
                                    <li><a href="#!">Santiago. Chile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
