<%= form_with(model: [@business,branchoffice]) do |form| %>
  <% if branchoffice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branchoffice.errors.count, "error") %> prohibited this branchoffice from being saved:</h2>

      <ul>
        <% branchoffice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :business_id %>
    <%= form.text_field :business_id %>
  </div>

  <div class="field">
    <%= form.label :code_branchoffice %>
    <%= form.text_field :code_branchoffice %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
