<div class="col-lg-8 mx-auto form-wrap" style="margin-top: 180px;">
  <div class="col-lg-12">
      <div class="section-wrap pt-3 pb-4 mb-4 mx-auto text-center">
          <div class="section-title mb-4">New Branchoffice</div>
          <div class="section-tag">Form to branchoffice.</div>
      </div>
  </div>
  
<%= form_with(model: [@business,branchoffice]) do |f| %>
  <% if branchoffice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branchoffice.errors.count, "error") %> prohibited this branchoffice from being saved:</h2>

      <ul>
        <% branchoffice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-lg-4 col-md-4">
          <%= f.label :code_branchoffice ,class:"form-name" %>
        <div class="input-field">
          <%= f.text_field :code_branchoffice %>
        </div>
      </div>
      
      <div class="col-lg-8 col-md-8">
          <%= f.label :city ,class:"form-name" %>
        <div class="input-field">
          <%= f.text_field :city %>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
          <%= f.label :address ,class:"form-name" %>
        <div class="input-field">
          <%= f.text_field :address %>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 d-flex justify-content-center">
        <div class="form-inline input-field">
          <%= f.submit(class:"btn btn-white waves-effect waves-light") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
