<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @branchoffice.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @branchoffice.address %>
</p>

<p>

          <td><%= @atention_schedule.day%></td>

</p>

<%= link_to 'New Appointment App', new_appointment_app_path(branchoffice_id: @branchoffice.id) %>
<%= link_to 'Edit', edit_business_branchoffice_path(@branchoffice) %> |
<%= link_to 'Back', :back %>
