<%= form_with(model: appointment_app) do |form| %>
  <% if appointment_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment_app.errors.count, "error") %> prohibited this appointment_app from being saved:</h2>

      <ul>
        <% appointment_app.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
 
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
  
    <%= form.hidden_field :branchoffice_id , value: params["branchoffice_id"]=%>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date , class:"form-select" %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time , class:"form-select"%>
  </div>

  <div class="field visually-hidden">
    <%= form.label :duration %>
    <%= form.time_select :duration, class:"form-select", default: {:hour => 0,:minute => '15'} %>
  </div>

  <div class="field">
    <%= form.hidden_field :code , value: @code%>
  </div>

  <div class="field">
    <%= form.hidden_field :state , value: "Timetable"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
