<!DOCTYPE html>
<html>
  <head>
    <title>Appointment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Alfredo Alejandro Peña Lopez">
	  <meta name="description" content="Agenda tu hora en el sitio que deseas">
	  <meta name="keywords" content="agenda, horas, calendario, cita, atencion, reserva">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <% if @swicht.present? && @swicht == true%>
      <%= javascript_pack_tag(params[:controller])  %>
    <%end%>
  </body>
</html>
